@charset "utf-8";
/* CSS Document */
.main-header {
	width: 99%;
	height: 80px;
	background-color: #2874f0;
	border: none;
	margin: 0px;
	padding: 0px;
	position: fixed;
}

.main-header .logo {
	float: left;
	width: 12%;
	margin: 17px 80px 0px 50px;
}

.main-header .main-header-searchbar {
	float: left;
	width: 52%;
	margin-top: 22px;
}

.main-header .main-header-searchbar .search-text {
	width: 80%;
	padding: 7px;
}

.main-header .main-header-searchbar .searchbtn {
	width: 80px;
    height: 41px;
}

.main-header .cart {
	float: left;
	margin: 20px 40px 0px 0px;
}

.main-header .sine-in {
	float: left;
	margin: 20px 40px 0px 0px;

}

.main-header .sine-in-dropdown-btn{
	border: none;
	cursor: pointer;
	width: 120px;
	height:50px;
	background:url(sine_in_logo.JPG);
    background-repeat: no-repeat;
}

.main-header .sine-in{
	position: relative;
	display: inline-block;
}

.main-header .sine-in-dropdown-btn-content{
	display: none;
	position: absolute;
	background-color: #2e2e2e;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	margin-top: 0px;
	border-radius: 0px 0px 5px 5px;
}

.main-header .sine-in-dropdown-btn-content a{
	color: black;
	padding: 12px 16px;
    text-decoration: none;
    display: block;
	color: white;
}

.main-header .sine-in-dropdown-btn-content a:hover {
	background-color: black;
	padding-top:10px;
	 
	}

.main-header .sine-in:hover .sine-in-dropdown-btn-content{
	display: block;
}

.main-header .sine-in:hover .sine-in-dropdown-btn{
	 background-color:#2e2e2e;
}