@charset "utf-8";
/* CSS Document */
.main-header {
	width: 99%;
	height: 80px;
	background-color: #E40046;
	border: none;
	margin: 0px;
	padding: 0px;
	position: fixed;
}

.main-header .logo {
	float: left;
	width: 12%;
	margin: 17px 80px 0px 50px;
}

.main-header .main-header-searchbar {
	float: left;
	width: 52%;
	margin-top: 22px;
}

.main-header .main-header-searchbar .search-text {
	width: 80%;
	padding: 7px;
}

.main-header .main-header-searchbar .searchbtn {
	width: 80px;
    height: 41px;
}

.main-header .cart {
	float: left;
	margin: 20px 40px 0px 0px;
}

.main-header .sine-in {
	float: left;
	margin: 20px 40px 0px 0px;

}

.main-header .sine-in-dropdown-btn{
	border: none;
	cursor: pointer;
	width: 120px;
	height:59px;
	background:url(sine_in_logo.jpg);
    background-repeat: no-repeat;
	
}

.main-header .sine-in{
	position: relative;
	display: inline-block;
}

.main-header .sine-in-dropdown-btn-content{
	display: none;
	position: absolute;
	background-color: #2e2e2e;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	margin-top: 0px;
	border-radius: 0px 0px 5px 5px;
	font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.main-header .sine-in-dropdown-btn-content a{
	color: black;
	padding: 12px 16px;
    text-decoration: none;
    display: block;
	color: white;
}

.main-header .sine-in-dropdown-btn-content a:hover {
	background-color: black;
	padding-top:10px;
	 
	}

.main-header .sine-in:hover .sine-in-dropdown-btn-content{
	display: block;
}

.main-header .sine-in:hover .sine-in-dropdown-btn{
	 background-color:#2e2e2e;
}

.main-header .sine-in-dropdown-btn-content .login-btn{
	font-weight: bold;
	background-color: #E40046;
}

.main-footer {
	width: 99%;
	height: 80px;
	background-color: #E40046;
	border: none;
	margin-top: 700px;
	padding: 0px;
	position: absolute;
}

.main-footer .footer-logo{
	margin: 16px 15px 0px 20px;
	width: 125px;
}

.main-footer .footer-links{
	width: 500px;
	border: 1px solid black;
	margin:0px 0px 0px 200px;
}
.main-footer .footer-links ul{
	list-style-type: none;
	margin: 0px 0px 0px 10px;
  padding: 0px 5px 0px 10px;
  overflow: hidden;
}

.main-footer .footer-links li{
	float: left;
}

.main-footer .footer-links li a{
	display: block;
    color: black;
    text-align: left;
    padding: 14px 25px 5px 5px; 
    text-decoration: none;
}

.main-footer .footer-links li a:hover:not(.active){
	background-color: #111;
}

.main-footer .footer-links li a:active{
	background-color: #4CAF50;
}