.view-cart-items-wrap .view-cart-panel-wrap {
  margin: 10px;
  background-color: #fff;
  border-radius: 2%;
  -moz-border-radius: 2%;
  -webkit-border-radius: 2%;
}
.view-cart-items-wrap .view-cart-panel-wrap .item-image {
  max-height: 120px;
  height: 100px;
  border: 1px solid #f0f0f0;
}
.view-cart-items-wrap .view-cart-panel-wrap .btn-checkout-span {
  float: right;
  margin-top: -6px;
}
.view-cart-items-wrap .view-cart-panel-wrap .no-items .info {
  font-size: x-large;
  font-weight: 500;
  color: #000;
}
.view-cart-items-wrap .view-cart-panel-wrap .item {
  margin-top: 5px;
  border: 1px solid #f0f0f0;
  padding: 5px;
}
.view-cart-items-wrap .view-cart-panel-wrap .item-info {
  margin: 5px;
}
.view-cart-items-wrap .view-cart-panel-wrap .item-info .item-name {
  font-size: medium;
  font-weight: 500;
  color: #333;
}
.view-cart-items-wrap .view-cart-panel-wrap .item-info .category {
  color: #878787;
  font-weight: 400;
  font-size: small;
}
.view-cart-items-wrap .view-cart-panel-wrap .item-info .item-price {
  font-size: medium;
  font-weight: 500;
  color: red;
}
.view-cart-items-wrap .view-cart-panel-wrap .item-remove,
.view-cart-items-wrap .view-cart-panel-wrap .item-remove-xs {
  font-size: x-large;
  color: darkred;
}
