<link rel="stylesheet" href="assets/styles/toppage/widgets/newArrivals.css">
<div class="container-fluid">
  <div class="new-arrivals-widget">
    <div class="row">
      <div class="col-md-2">
        <div class="slider-text">
          <span class="text lead"> <h2> New arrivals </h2> </span>
          <span>
            <button type="button" class="btn btn-primary ld-viewmore btn-viewall">
              <span> View all </span>
            </button>
          </span>
        </div>
      </div>
      <div class="col-md-10">
        <div id="newArrivalsSlider" class="slideshow-type1-main">
          <div class="widget-settings">
            <div class="widget-settings-mock"
              data-mock-data='{"status":"Success","items":[{"itemName":"item0","itemImageUrl":"http://item.image.url/0","itemPrice":0,"itemUrl":"/item/item0","categoryName":"Electronics"},{"itemName":"item1","itemImageUrl":"http://item.image.url/1","itemPrice":934.6522207997514,"itemUrl":"/item/item1","categoryName":"Electronics"},{"itemName":"item2","itemImageUrl":"http://item.image.url/2","itemPrice":1115.0144513511605,"itemUrl":"/item/item2","categoryName":"Electronics"},{"itemName":"item3","itemImageUrl":"http://item.image.url/3","itemPrice":1088.8725563325368,"itemUrl":"/item/item3","categoryName":"Electronics"},{"itemName":"item4","itemImageUrl":"http://item.image.url/4","itemPrice":3195.272909482935,"itemUrl":"/item/item4","categoryName":"Electronics"},{"itemName":"item5","itemImageUrl":"http://item.image.url/5","itemPrice":848.4478867394517,"itemUrl":"/item/item5","categoryName":"Electronics"},{"itemName":"item6","itemImageUrl":"http://item.image.url/6","itemPrice":389.4253422258163,"itemUrl":"/item/item6","categoryName":"Electronics"},{"itemName":"item7","itemImageUrl":"http://item.image.url/7","itemPrice":4744.622306363931,"itemUrl":"/item/item7","categoryName":"Electronics"},{"itemName":"item8","itemImageUrl":"http://item.image.url/8","itemPrice":3008.9900590327757,"itemUrl":"/item/item8","categoryName":"Electronics"},{"itemName":"item9","itemImageUrl":"http://item.image.url/9","itemPrice":2025.307559793258,"itemUrl":"/item/item9","categoryName":"Electronics"},{"itemName":"item10","itemImageUrl":"http://item.image.url/10","itemPrice":9026.864667459704,"itemUrl":"/item/item10","categoryName":"Electronics"},{"itemName":"item11","itemImageUrl":"http://item.image.url/11","itemPrice":6024.734379757179,"itemUrl":"/item/item11","categoryName":"Electronics"},{"itemName":"item12","itemImageUrl":"http://item.image.url/12","itemPrice":2725.355136123698,"itemUrl":"/item/item12","categoryName":"Electronics"},{"itemName":"item13","itemImageUrl":"http://item.image.url/13","itemPrice":8434.30250882749,"itemUrl":"/item/item13","categoryName":"Electronics"},{"itemName":"item14","itemImageUrl":"http://item.image.url/14","itemPrice":8539.972552045569,"itemUrl":"/item/item14","categoryName":"Electronics"}]}'>
            </div>
          </div>
          <script type="text/template" id="newArrivalsSliderTpl">
            <ul class="content-slider">
              <li class="item">
                <a href="#ITEM_URL#" class="item-wrap">
                  <div class="item-image">
                    <img src="#ITEM_IMAGE_URL#" alt="#ITEM_NAME#" class="item-image">
                  </div>
                  <div class="item-info">
                    <span class="item-name"> #ITEM_NAME# </span>
                    <div class="price-info">
                      <span class="item-price"> #ITEM_PRICE# </span>
                    </div>
                    <div class="item-category">
                      #ITEM_CATEGORY#
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </script>
        </div>
      </div>
    </div>  
  </div>
</div>
{{#loadModule "newArrivalsWidget"}} {{/loadModule}}