<footer class="main-footer navbar-fixed-bottom hidden-xs">
  <div class="row">
    <div class="col-sm-2 footer-links">
      <h5> Help </h5>
      <ul>
        <li> <a href="#"> Payments </a> </li>
        <li> <a href="#"> Shipping </a> </li>
      </ul>
    </div>
    <div class="col-sm-3 footer-links">
      <h5> Online Auction </h5>
      <ul>
        <li> <a href="#"> About </a> </li>
        <li> <a href="#"> Contact us </a> </li>
      </ul>
    </div>
    <div class="col-sm-7"></div>
  </div>
</footer>