<div class="usermenu-dropdown">
  <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
    <span class="hidden-sm hidden-xs"> Your menu </span>
    <i class="glyphicon glyphicon glyphicon-user"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <ul>
      <li class="dropdown-item"> <a href="#"> Your Account </a> </li>
      <li class="dropdown-item"> <a href="#"> Your Orders </a> </li>
      <li class="dropdown-item"> <a jscf-url="sellItem" href=""> Sell something </a> </li>
      <li class="dropdown-item"> <a href="#"> Notifications </a> </li>
    </ul>
    <div class="divider"></div>
    <div class="sign-in">
      <button id="usermenu-signin" jscf-url="signin" class="btn btn-primary">Sign in</button>
      <small> New customer?</small> <a jscf-url="signup" href=""> Start here </a>
    </div>
  </div>
</div>